/**
 * Canvas
 */
.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#181818+0,000000+100 */
	background: #181818; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #181818 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #181818 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #181818 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#181818', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#large-header {
	background-position: bottom;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.large-header #search {
	position: absolute;
	margin: 0 auto;
	display: block;
	z-index: 88;
}
.large-header .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	font-weight: 600;
}
.main-title .thin {
	font-weight: 100;
}
img#starthere {
	position: absolute;
	right: 114px;
	top: 14px;
}

aside#latest {
	color: #efefef;
	padding: 8px;
	position: absolute;
	bottom: 14px;
	left: 14px;

	background: #0091EA;
}
aside#latest ul {
	padding: 0;
}
aside#latest ul li {
	list-style: none;
}
aside#latest a {
	color: #bebebe;
}
aside#latest a:hover {
	color: #fefefe;
	text-decoration: none;
}

@media only screen and (max-width : 768px) {
	.large-header .main-title {
		font-size: 3em;
	}
}

