/**
 * Overrides
 */
.navbar-fixed-top {
	border-bottom: 1px solid #aeaeae!important;
}

/**
 * Canvas
 */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
#large-header {
	background-position: bottom;
}
.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
.large-header #search {
	position: absolute;
	margin: 0 auto;
	display: block;
	z-index: 88;
}
.large-header .main-title {
	text-transform: uppercase;
	font-size: 4.2em;
	letter-spacing: 0.1em;
	font-weight: 600;
}
.main-title .thin {
	font-weight: 100;
}
img#starthere {
	position: absolute;
	right: 114px;
	top: 14px;
}

aside#latest {
	background: url(https://cdn.rawgit.com/chrisvogt/chrisvogt.me/develop/img/bg-delaunay.png) -550px -200px;
	border-left: 1px solid #efefef;
	border-top: 1px solid #fefefe;
	border-right: 1px solid #cecece;
	border-bottom: 1px solid #dedede;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: #efefef;
	padding: 8px;
	position: absolute;
	bottom: 14px;
	left: 14px;
}
aside#latest ul {
	padding: 0;
}
aside#latest ul li {
	list-style: none;
}
aside#latest a {
	color: #bebebe;
}
aside#latest a:hover {
	color: #fefefe;
	text-decoration: none;
}

@media only screen and (max-width : 768px) {
	.large-header .main-title {
		font-size: 3em;
	}
}

